.ce-toolbox {
  width: 120px;
  padding: 10px 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 100ms ease;
  will-change: opacity;
  border: 1px solid var(--color-silver);
  box-shadow: 30px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: var(--color-white);

  @media (--mobile) {
    position: static;
    display: flex;
    width: auto;
    padding: 0;
    transform: none !important;
    align-items: center;
    overflow-x: auto;
  }

  &--opened {
    opacity: 1;
    visibility: visible;

    @media (--mobile) {
      border-left-width: 0;
      border-radius: 0 3px 3px 0;
      margin-left: -2px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: 10px;
    @apply --toolbox-button;

    @media (--mobile) {
      padding-left: 0;
      height: 100%;
    }

    &:hover,
    &--active {
      background-color: var(--color-mercury);
    }
  }

  &__button-icon {
    display: flex;
    align-items: center;
    justify-content:  center;
    width: var(--toolbox-buttons-size);
    height: var(--toolbox-buttons-size);
  }

  &__button-title {
    font-size: 1.2rem;
    color: var(--color-black);

    @media (--mobile) {
      display: none;
    }
  }
}

.ce-toolbox-button-tooltip {
  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-toolbox {
  @media (--not-mobile) {
    background: #fff;
    z-index: 2;
  }
}
