.ce-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /*opacity: 0;*/
  /*visibility: hidden;*/
  transition: opacity 100ms ease;
  will-change: opacity, transform;
  display: none;

  @media (--mobile) {
    margin-top: 5px;
  }

  &--opened {
    display: block;

    @media (--mobile){
      display: flex;
    }
  }

  &__content {
    max-width: var(--content-width);
    margin: 0 auto;
    position: relative;

    @media (--mobile){
      display: flex;
      align-content: center;
      width: 100%;
      max-width: initial;
      margin: 0;
    }
  }

  &__plus {
    @apply --toolbox-button;
    display: flex;
    position: absolute;
    background-color: var(--color-white);

    &-shortcut {
      opacity: 0.6;
      word-spacing: -2px;
      margin-top: 5px;
    }

    &--hidden {
      display: none;
    }

    @media (--mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      transform: none !important;
      width: 40px;
      height: 40px;
      border: 1px solid var(--color-silver);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }
  }

  &__plus,
  .ce-toolbox {
    top: 50%;
  }

  &__plus {
    transform: translateY(-50%);
  }

  &__plus-select {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    opacity: .01;
    -webkit-appearance: menulist-button;

    @media (--mobile) {
      display: block;
    }
  }

  .ce-toolbox {
    transform: translate3d(-70px, 40px, 0px);

    @media (--mobile) {
      transform: translate3d(0, 0, 0);
    }
  }

  /**
   * Block actions Zone
   * -------------------------
   */
  &__actions {
    position: absolute;
    right: -30px;
    top: 15px;
    opacity: 0;

    @media (--mobile){
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
    }

    &--opened {
      opacity: 1;
    }

    &-buttons {
      text-align: right;
    }
  }

  &__settings-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    cursor: pointer;

    @media (--mobile) {
      width: 40px;
      height: 40px;
      border: 1px solid var(--color-silver);
      background-color: var(--color-white);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }
  }
}

/**
 * Styles for Narrow mode
 */
.codex-editor--narrow .ce-toolbar__plus {
  @media (--not-mobile) {
    left: 5px;
  }
}
